streamlit
openai
allennlp
appnope
argon2-cffi
attrs
backcall
backports.csv
base58
beautifulsoup4
bleach
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer

cheroot
CherryPy
click
configparser
cryptography
cycler
cymem
datasets
debugpy
decorator
defusedxml
dill
docker-pycreds
entrypoints
fairscale
feedparser
filelock
fsspec
future
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h5py
huggingface-hub
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
iso-639
jaraco.classes
jaraco.collections
jaraco.functools
jaraco.text
jedi
Jinja2
jmespath
joblib
jsonnet
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lmdb
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
multiprocess
munch
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
overrides
packaging
pandas
pandocfilters
parso
pathtools
pathy
patternfork-nosql
pdfminer.six
pexpect
pickleshare
Pillow
pluggy
portend
preshed
prettytable
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
py
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
python-docx
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rsa
s3transfer
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
sentry-sdk
sgmllib3k
shortuuid
six
scikit-learn
smart-open
smmap
sortedcontainers
soupsieve

spacy-legacy
sqlitedict
srsly
subprocess32
tempora
tensorboardX
termcolor
terminado
testpath
thinc
threadpoolctl
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-extensions
urllib3
wandb
wasabi
wcwidth
webencodings
widgetsnbextension
xxhash
zc.lockfile